@charset "UTF-8";
@import "common-mobile.css" screen and (max-width: 1024px);

.rm-reservoir-rate-group.status-up {background:url(../images/status_arrow_up.png) 156px top no-repeat;}

svg {
    display: inline-block !important;
}

svg:not(:root) {
    overflow: hidden !important;
}

h1 .rm-logo svg:first-child {
    display: none !important;
}

nav a:hover {
	opacity: 1 !important;
	color: white;
}

.rm-weather-center-group embed {
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.rm-search-period-btn li button.selected {
    background-color: #101831;
    font-weight: 700;
    color: #FFFFFF;
}

.has-fixed-height {
	height: 180px;
}

.rm-result-wrap .line-chart {
	width: 1150px;
	height: 100%;
	margin: 0;
    padding: 0;
}

.rm-search-wrap input {
    min-width: 240px;
}

.display-none {
	display: none !important;
}

.table-group-top {
	top: 76px;
}

/*******************************************************************************************************
 Table 디자인
*******************************************************************************************************/
.datatable-header {
	padding-top: 0rem;
	border-bottom: 0;
}

.datatable-footer {
    border-top: 1px solid #b7b7b7 !important;
    margin-top: -1px !important;
    margin-right: 1px !important;
}

.dataTables_paginate {
	margin: 0;
}

/*******************************************************************************************************
 swal2 디자인
*******************************************************************************************************/
.swal2-title {
	font-weight: 600;
}

.modal-footer:not([class*=bg-]) {
    padding-top: 1.25rem;
    border-top-width: 1px;
}