@charset "UTF-8";

svg {
	vertical-align: top;
}

.boudary {color:#FF6700;}
.rm-flood-status.boudary {background:url(../../images/status_flood_03.png)center bottom no-repeat;background-size:contain;}
.rm-region-status.boudary::before {display:inline-block;content:"";position:absolute;left:0;width:17px;height:17px;background:url(../../images/status_region_alert.png)left center no-repeat;}

/*******************************************************************************************************
 기상특보 디자인
*******************************************************************************************************/
.rm-weather-txt {
	font-size: 1.35rem;
}

.rm-weather-center-group embed {
    height: 100%;
    max-height: 100%;
    width: 100%;
}

/*******************************************************************************************************
 Map 디자인
*******************************************************************************************************/
.map-container {
	height: 100% !important;
}

.map-popup {
	border: 1px solid #2a5dc5;
	border-radius: 5px;
	background-color: #2a5dc5;
	font-size: 15px;
	color: white;
	text-align: center;
	position: absolute;
	top: 30px;
	left: -50px;
	width: 130px;
}

/*******************************************************************************************************
 대쉬보드 디자인
*******************************************************************************************************/
.rm-reservoir-rate-group.status-up {background:url(../../images/status_arrow_up.png) 156px top no-repeat;}

.reservoir-equal {color:#BDBDBD;}

/*******************************************************************************************************
 조회 디자인
*******************************************************************************************************/
.rm-date {
	font-size: 1.15rem;
}

.rm-region-period {
	top: 25px;
}

.rm-region-period input {
	width: 120px;
}

.rm-region-table {
	height: 210px;
}

.rm-region-period button.rm-primary-btn {
    border: none;
    background-color: #3555DB;
    color: #FFFFFF;
}
.rm-region-period button {
    flex: 1;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    width: 80px;
	height: 26px;
	line-height: 0px;
}

/*******************************************************************************************************
 Chart 디자인
*******************************************************************************************************/
.has-fixed-height {
	height: 180px;
}

.ol-viewport {
	top: -32px;
	bottom: -32px;
	z-index: 0;
}

.rm-button-group {
	position: relative;
	z-index: 1;
}

.rm-button-group button {
	width: 80px;
	border-radius: 0px;
}
