<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/admin.css}" >
</th:block>

<th:block layout:fragment="content">
	<div class="rm-sub-container mobile">
		<!-- section -->
		<div class="rm-sub-panel left admin mobile">
			<div class="rm-sub-panel-wrap">
				<!-- 관리자 검색영역 -->
				<div class="rm-search-wrap">
					<div>
						<label for="seltMonth" class="mobile">월</label>
		                <select id="seltMonth" class="mobile">
		                	<option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
		                </select>
		                
		                <label for="seltEml" class="mobile">순</label>
		                <select id="seltEml" class="mobile">
		                	<option th:each="eml : ${emls}" th:value="${eml}" th:text="${eml}"></option>
		                </select>
					
						<label for="seltHq" class="mobile">본부</label>
		                <select id="seltHq" class="mobile">
		                	<option th:each="regionalHead : ${regionalHeads}" th:value="${regionalHead}" th:text="${regionalHead}"></option>
		                </select>
						
						<label for="seltBranch" class="mobile">지사</label> 
						<select id="seltBranch" class="mobile">
							<option th:each="branch : ${branchs}" th:value="${branch}" th:text="${branch}">지사</option>
						</select> 
						
						<label for="seltfacility" class="mobile">지점</label> 
						<select id="seltfacility" class="mobile">
							<option value="전체">- 전 체 -</option>  
							<option th:each="facilityName : ${facilityNames}" th:value="${facilityName}" th:text="${facilityName}">지사</option>
						</select> 
						
						<!-- <label for="inptBranch2Name" class="mobile">지점명</label>
						<div class="rm_input_select_group mobile">
							<input id="inptBranch2Name" type="text"> 
							<label for="seltBranch2Name" class="blind">지점명선택</label> 
							<select id="seltBranch2Name" class="mobile">
								<option value="" selected>선택</option>
								<option value="">선택1</option>
								<option value="">선택2</option>
							</select>
						</div> -->
						
						<div class="rm-button-group mobile">
							<button class="rm-secondary-btn mr12" onclick="document.getElementById('setUp').style.display='block'">신설</button>
							<button class="rm-primary-btn mr12" id="searchBtn">검색</button>
							<button class="rm-secondary-btn">입력</button>
						</div>
					</div>
				</div>
				<!-- 관리자 검색결과 -->
				<div class="rm-result-table-group rm-scroll mobile">
					<table class="rm-result-table" id="operationTable">
						<caption class="blind">관리자 검색결과</caption>
					 	<colgroup>
		                  	<col><col><col><col><col><col><col><col><col><col style="width:100px;">
		                </colgroup>
						<thead class="text-center">
							<tr>
								<th scope="col">월</th>
								<th scope="col">순</th>
								<th scope="col">본부</th>
								<th scope="col">지사</th>
								<th scope="col">지점</th>
								<th scope="col">현재수위</th>
								<th scope="col">관심수위</th>
								<th scope="col">주의수위</th>
								<th scope="col">경계수위</th>
								<th scope="col">심각수위</th>
								<th scope="col">수정</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				
					<!-- <table class="rm-result-table">
						<caption class="blind">관리자 검색결과</caption>
						<colgroup>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col>
							<col style="width: 100px;">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">순번</th>
								<th scope="col">본부</th>
								<th scope="col">지사</th>
								<th scope="col">지점</th>
								<th scope="col">유역면적(ha)</th>
								<th scope="col">논비율(%)</th>
								<th scope="col">밭비율(%)</th>
								<th scope="col">산림비율(%)</th>
								<th scope="col">기타비율(%)</th>
								<th scope="col">수정</th>
							</tr>
						</thead>
						<tbody>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                  <tr>
		                    <td>1</td><td>경기</td><td>여주,이천</td><td>금사(장흥)</td><td>794.00</td><td>3.32</td><td>3.99</td><td>87.56</td><td>5.14</td><td><button class="rm-inner-btn">수정</button></td>
		                  </tr>
		                </tbody>
					</table> -->
				</div>
				<!-- 페이지네이션 -->
				<!-- <div class="rm-pagination mobile">
					<a href="javascript:void(0);" class="first"><span class="blind">처음</span></a>
					<a href="javascript:void(0);" class="prev"><span class="blind">이전</span></a>
					<a href="javascript:void(0);" class="on">1</a> 
					<a href="javascript:void(0);">2</a> 
					<a href="javascript:void(0);">3</a>
					<a href="javascript:void(0);">4</a> 
					<a href="javascript:void(0);">5</a>
					<a href="javascript:void(0);">6</a> 
					<a href="javascript:void(0);">7</a>
					<a href="javascript:void(0);">8</a> 
					<a href="javascript:void(0);">9</a>
					<a href="javascript:void(0);">10</a> 
					<a href="javascript:void(0);" class="next"><span class="blind">다음</span></a> 
					<a href="javascript:void(0);" class="last"><span class="blind">마지막</span></a>
				</div> -->
			</div>
		</div>
	</div>

	<div id="setUp" class="modal mobile" style="display: none;">
		<div class="modal-container mobile">
			<h3 class="modal-title">
				신규저수지 제원 정보
				<span onclick="document.getElementById('setUp').style.display='none'" class="close-btn">&times;</span>
			</h3>
			<div class="modal-content">
				<ul class="new-reservoir-info">
					<li>
						<label for="" class="mobile">표준코드</label> 
						<input id="" type="text">
					</li>
					<li>
						<label for="" class="mobile">시설명</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">주소</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">위도</label> 
						<input id="" type="text">
					</li>
					<li>
						<label for="" class="mobile">경도</label> 
						<input id="" type="text">
					</li>
					<li>
						<label for="" class="mobile">수원공구분</label> 
						<input id="" type="text">
					</li>
					<li>
						<label for="" class="mobile">종별</label> 
						<input id="" type="text">
					</li>
					<li>
						<label for="" class="mobile">제체길이</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">제체높이</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">총저수</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">유효저수</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">유요면적</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">유역면적</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">수해면적</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">만수면적</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">관리자</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">관리자주소</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">착공일</label> 
						<input id="" type="text"></li>
					<li>
						<label for="" class="mobile">준공일</label> 
						<input id="" type="text">
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn rm-secondary-btn mr12">취소</button>
				<button class="btn rm-primary-btn">저장</button>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/common/table.js}"></script>
	<script th:src="@{/js/admin.js}"></script>
</th:block>
</html>