<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="content">
	<div class="rm-sub-container mobile">
		<!-- section -->
		<div class="rm-sub-panel left admin mobile">
			<div class="rm-sub-panel-wrap">
				<!-- 관리자 검색영역 -->
				<div class="rm-search-wrap">
					<div>
						<label for="seltMonth" class="mobile">월</label>
		                <select id="seltMonth" class="mobile">
		                	<option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
		                </select>
		                
		                <label for="seltEml" class="mobile">순</label>
		                <select id="seltEml" class="mobile">
		                	<option th:each="eml : ${emls}" th:value="${eml}" th:text="${eml}"></option>
		                </select>
					
						<label for="seltHq" class="mobile">본부</label>
		                <select id="seltHq" class="mobile">
		                	<option th:each="regionalHead : ${regionalHeads}" th:value="${regionalHead}" th:text="${regionalHead}"></option>
		                </select>
						
						<label for="seltBranch" class="mobile">지사</label> 
						<select id="seltBranch" class="mobile">
							<option th:each="branch : ${branchs}" th:value="${branch}" th:text="${branch}">지사</option>
						</select> 
						
						<label for="seltfacility" class="mobile">지점</label> 
						<select id="seltfacility" class="mobile">
							<option value="전체">- 전 체 -</option>  
							<option th:each="facility : ${facilitys}" th:value="${facility.facilityName}" th:text="${facility.facilityName}">지사</option>
						</select> 
						
						<div class="rm-button-group mobile">
							<button class="rm-secondary-btn mr12" onclick="document.getElementById('setUp').style.display='block'">신설</button>
							<button class="rm-primary-btn mr12" id="searchBtn">검색</button>
						</div>
					</div>
				</div>
				<!-- 관리자 검색결과 -->
				<div class="rm-result-table-group rm-scroll mobile">
					<table class="rm-result-table" id="operationTable">
						<caption class="blind">관리자 검색결과</caption>
					 	<colgroup>
		                  	<col><col><col><col><col><col><col><col><col><col style="width:100px;">
		                </colgroup>
						<thead class="text-center">
							<tr>
								<th scope="col">월</th>
								<th scope="col">순</th>
								<th scope="col">본부</th>
								<th scope="col">지사</th>
								<th scope="col">지점</th>
								<th scope="col">현재수위</th>
								<th scope="col">관심수위</th>
								<th scope="col">주의수위</th>
								<th scope="col">경계수위</th>
								<th scope="col">심각수위</th>
								<th scope="col">수정</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="setUp" class="modal mobile" style="display: none;">
		<form id="registForm" th:action="@{/admin/reservoir}" method="post">
			<div class="modal-container mobile">
				<h3 class="modal-title">
					신규저수지 제원 정보
					<span onclick="document.getElementById('setUp').style.display='none'" class="close-btn">&times;</span>
				</h3>
				<div class="modal-content">
					<ul class="new-reservoir-info">
						<li>
							<label for="facCodeText" class="mobile">표준코드</label> 
							<input id="facCodeText" type="text" name="facCode" required>
						</li>
						<li>
							<label for="facilityNameText" class="mobile">시설명</label> 
							<input id="facilityNameText" type="text" name="facilityName" required>
						</li>
						<li>
							<label for="addressText" class="mobile">주소</label> 
							<input id="addressText" type="text" name="address">
						</li>
						<li>
							<label for="latitudeText" class="mobile">위도</label> 
							<input id="latitudeText" type="number" name="latitude" value="0">
						</li>
						<li>
							<label for="longitudeText" class="mobile">경도</label> 
							<input id="longitudeText" type="number" name="longitude" value="0">
						</li>
						<li>
							<label for="waterClassText" class="mobile">수원공구분</label> 
							<input id="waterClassText" type="text" name="waterClass" value="주수원">
						</li>
						<li>
							<label for="classificationText" class="mobile">종별</label> 
							<input id="classificationText" type="number" name="classification" value="1">
						</li>
						<li>
							<label for="lengthText" class="mobile">제체길이</label> 
							<input id="lengthText" type="number" name="length" value="0">
						</li>
						<li>
							<label for="heightText" class="mobile">제체높이</label> 
							<input id="heightText" type="number" name="height" value="0">
						</li>
						<li>
							<label for="totalStroageCapacityText" class="mobile">총저수</label> 
							<input id="totalStroageCapacityText" type="number" name="totalStroageCapacity" value="0">
						</li>
						<li>
							<label for="enableStorageCapacityText" class="mobile">유요저수</label> 
							<input id="enableStorageCapacityText" type="number" name="enableStorageCapacity" value="0">
						</li>
						<li>
							<label for="watershedAreaText" class="mobile">유역면적</label> 
							<input id="watershedAreaText" type="text" name="watershedArea" value="0">
						</li>
						<li>
							<label for="beneAreaText" class="mobile">수혜면적</label> 
							<input id="beneAreaText" type="text" name="beneArea" value="0">
						</li>
						<li>
							<label for="pullAreaText" class="mobile">만수면적</label> 
							<input id="pullAreaText" type="number" name="pullArea" value="0">
						</li>
						<li>
							<label for="" class="mobile">관리자</label> 
							<input id="" type="text">
						</li>
						<li>
							<label for="mgmtAdressText" class="mobile">관리자주소</label> 
							<input id="mgmtAdressText" type="text" name="mgmtAdress">
						</li>
						<li>
							<label for="startDateText" class="mobile">착공일</label> 
							<input id="startDateText" type="date" name="startDate">
						</li>
						<li>
							<label for="completionDateText" class="mobile">준공일</label> 
							<input id="completionDateText" type="date" name="completionDate">
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn rm-secondary-btn mr12" onclick="document.getElementById('setUp').style.display='none'">취소</button>
					<button type="submit" class="btn rm-primary-btn">저장</button>
				</div>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
	<script th:src="@{/js/common/table.js}"></script>
	<script th:src="@{/js/admin.js}"></script>
</th:block>
</html>