<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="content">
	<div class="rm-sub-container mobile">
		<!-- left section -->
		<div class="rm-sub-panel left facility mobile">
			<div class="rm-sub-panel-wrap">
				<!-- 시설정보, 시설관리... -->
				<div class="rm-basic-table-group rm-scroll">
					<h3 class="rm-basic-title-03">시설정보</h3>
					<table class="rm-basic-table">
						<caption class="blind">시설정보</caption>
						<colgroup>
							<col style="width: 118px;">
							<col>
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">표준코드</th>
								<td id="facCodeText" th:text="${reservoir?.facCode}"></td>
							</tr>
							<tr>
								<th scope="row">시설명</th>
								<td id="facilityNameText" th:text="${reservoir?.facilityName}"></td>
							</tr>
							<tr>
								<th scope="row">소재지</th>
								<td id="addressText" th:text="${reservoirMgmt?.address}"></td>
							</tr>
							<tr>
								<th scope="row">수원 공구분</th>
								<td id="waterClassText" th:text="${reservoir?.waterClass}"></td>
							</tr>
							<tr>
								<th scope="row">종별</th>
								<td id="classificationText" th:text="${reservoirMgmt?.classification}"></td>
							</tr>
							<tr>
								<th scope="row">제체길이</th>
								<td id="lengthText">
									<div th:if="${reservoirMgmt != null}">
										<span th:text="${reservoirMgmt.length}"></span> m
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">제체높이</th>
								<td id="heightText">
									<div th:if="${reservoirMgmt != null}">
										<span th:text="${reservoirMgmt.height}"></span> m
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">총저수</th>
								<td id="totalStroageCapacityText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoir.totalStroageCapacity}"></span> ㎡ 
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">유요저수</th>
								<td id="enableStorageCapacityText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoir.enableStorageCapacity}"></span> ㎡ 
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">금일저수량</th>
								<td id="rateText">
									<div th:if="${rate != null}">
										<span th:text="${rate} + '%'"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">유역면적</th>
								<td id="watershedAreaText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoir.watershedArea}"></span> (만㎥)
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">수혜면적</th>
								<td id="beneAreaText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoir.beneArea}"></span> (만㎥)
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">만수면적</th>
								<td id="pullAreaText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoirMgmt.pullArea}"></span> (만㎥)
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<h3 class="rm-basic-title-03">시설관리</h3>
					<table class="rm-basic-table">
						<caption class="blind">시설관리</caption>
						<colgroup>
							<col style="width: 118px;">
							<col>
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">관리자</th>
								<td id="adminText">
									<div th:if="${reservoir != null}">
										<span th:text="${reservoir.facilityName} + '지사'"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">관리자주소</th>
								<td id="mgmtAdressText" th:text="${reservoirMgmt?.mgmtAdress}"></td>
							</tr>
						</tbody>
					</table>
					<h3 class="rm-basic-title-03">시설현황</h3>
					<table class="rm-basic-table">
						<caption class="blind">시설현황</caption>
						<colgroup>
							<col style="width: 118px;">
							<col>
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">착공일</th>
								<td id="startDateText" th:text="${reservoirMgmt != null ? #dates.format(reservoirMgmt.startDate, 'yyyy-MM-dd') : ''}"></td>
							</tr>
							<tr>
								<th scope="row">준공일</th>
								<td id="completionDateText" th:text="${reservoirMgmt != null ? #dates.format(reservoirMgmt.completionDate, 'yyyy-MM-dd') : ''}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- right section -->
		<div class="rm-sub-panel right facility mobile">
			<div class="rm-sub-panel-wrap">
				<!-- 관측결과 -->
				<h2 class="rm-basic-title-02">관측결과</h2>
				<!-- 검색영역 -->
				<div class="rm-search-wrap">
					<label for="seltHq" class="mobile">본부</label>
		                <select id="seltHq" class="mobile">
		                	<option th:each="regionalHead : ${regionalHeads}" th:value="${regionalHead}" th:text="${regionalHead}"></option>
		                </select>
						
						<label for="seltBranch" class="mobile">지사</label> 
						<select id="seltBranch" class="mobile">
							<option th:each="branch : ${branchs}" th:value="${branch}" th:text="${branch}">지사</option>
						</select> 
						
						<label for="seltfacility" class="mobile">지점</label> 
						<select id="seltfacility" class="mobile">
							<option th:each="facility : ${facilitys}" th:value="${facility.facCode}" th:text="${facility.facilityName}">지사</option>
						</select> 
					
					<div class="mt20">
						<label for="inptPeriodStart" class="mobile">조회기간</label>
						<div class="rm-search-period-input mobile">
							<!-- <input id="inptPeriodStart" type="text" value="" class="daterange-single"> 
							<span>~</span>
							<label for="inptPeriodEnd" class="blind">조회기간 마지막</label> 
							<input id="inptPeriodEnd" type="text" value="" class="daterange-single"> -->
							<input id="inptPeriod" type="text" value="" class="daterange-single"> 
						</div>
						<ul class="rm-search-period-btn mobile" id="period_ul">
							<li><button>6개월</button></li>
							<li><button>1년</button></li>
							<li><button>2년</button></li>
						</ul>
						<div class="rm-button-group mobile">
							<button class="rm-primary-btn" id="searchBtn">검색</button>
						</div>
					</div>
				</div>
				<!-- 관측결과 그래프 -->
				<div class="rm-result-wrap mobile d-flex justify-content-center">
					<div class="chart line-chart" id="google-combo"></div>
					<!-- <img src="images/img_result_graph.png" alt="관측결과 그래프"> -->
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/common/google_chart.js}"></script>
	<script th:src="@{/js/facility.js}"></script>
</th:block>
</html>